
::-webkit-scrollbar {
    display: none;
  }

#roomd_wrap table {
  border-collapse: collapse;
  border-spacing: 0;
}

#roomd_wrap section.notice {
  padding: 2em 0;
}

#roomd_wrap .page-title {
  margin-bottom: 2em;
}
#roomd_wrap .page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#roomd_wrap #board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}
#roomd_wrap #board-search .search-window .search-wrap {
  display: flex;
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
#roomd_wrap #board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#roomd_wrap #board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}

#roomd_wrap #board-search .search-window .search-wrap div {
  position: absolute;
  bottom: 0px;
  right: -200px;
}

#roomd_wrap #board-search .search-window .search-wrap .btn {
  /* position: absolute; */
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#roomd_wrap .board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
#roomd_wrap .board-table a:hover {
  text-decoration: underline;
}

#roomd_wrap .board-table .th-num {
  min-width: 70px;
  max-width: 100px;
  text-align: center;
}

#roomd_wrap .board-table .th-date {
  min-width: 100px;
  max-width: 200px;
}

#roomd_wrap .board-table th, #roomd_wrap .board-table td {
  padding: 14px 0;
}

#roomd_wrap .board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

#roomd_wrap .board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  /* text-align: left; */
}

#roomd_wrap .board-table tbody th p{
  display: none;
}

#roomd_wrap .btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#roomd_wrap .btn-dark {
  background: #555;
  color: #fff;
}

#roomd_wrap .btn-dark:hover, #roomd_wrap .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

#roomd_wrap .btn-dark {
  background: #555;
  color: #fff;
}

#roomd_wrap .btn-dark:hover, #roomd_wrap .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

#roomd_wrap > * {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#roomd_wrap .clearfix:after {
  content: '';
  display: block;
  clear: both;
}
#roomd_wrap .container {
  max-width: 1100px;
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
}
#roomd_wrap .blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.board-table th,
.board-table td {
    width: 33.3%; /* 각 셀의 너비를 33.3%로 설정 */
}