#roomC_wrap {
    width: 100vw;
}

#roomC_wrap .console_input {
    width: 10px;
    height: 0;
    /* border: transparent; */
    position: absolute;
    top: 5%;
    left: 0;
    cursor: default;
}

#roomC_wrap div#background {
    width: 100%;
    height: calc(100vh - 43.78px);
    padding: 1.5em;
    background-color: rgb(17, 17, 17);
    background-image: url(/public/resources/img/Buckshot_Roulette.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: color-dodge;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roomC_wrap div#background div#console {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(68, 68, 68);
    width: 40em;
    height: 32.5em;
    padding: 0px 0.3em;
    overflow-y: auto;
}

#roomC_wrap div#background div#console div.console_line {

}

#roomC_wrap div#background div#console span.console_line_word {
    color: rgb(187, 187, 187);
    font-size: 0.8em;
    font-family: "Lucida Console";
    word-break: break-word;
}
